<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>World Map Browser</title>
</head>
<body>

  <div>
    <div>
      <button>&larr;</button>
      <button>&crarr;</button>
      <input type="text" placeholder="Enter URL or search here..." />
    </div>
  </div>

  <div>
    <input type="text" placeholder="Search..." />
    <button>Search</button>
    <select>
      <option>Search Type</option>
    </select>
    <select>
      <option>Filter By</option>
    </select>
  </div>

 <div> 
   <div> 
   <p><strong>Name:</strong></p> 
      <p>_______________________</p>

      <p><strong>Activity:</strong></p>
      <p>_______________________</p>

      <p><strong>Description:</strong></p>
      <p>_______________________<br>_______________________<br>_______________________</p>

      <p><strong>Hours:</strong></p>
      <p>_______________________</p>

      <p><strong>Fees:</strong></p>
      <p>_______________________</p>

      <p><strong>Restrictions:</strong></p>
      <p>_______________________</p>
    </div> -->

    <div>
      <img src="USMAP.jpg" alt="World Map" />
    </div>
  </div>

</body>
</html>
