{% extends "base.html" %}

<!-- A macro for simplifying creating and setting the dropdowns for the search bar  -->
<!-- Macros is basically a function -->
{% macro list_option(value, name, selected) %}
    <option value="{{value}}" {%if selected == value %} selected {% endif %}> {{name}} </option>
{% endmacro %}

{%block body%}
   
    <!-- The area for the description of a location  -->
    <div id="description"> 
      <p><strong>Name:</strong></p> 
        <p><i>Recreation areas.</i></p>

        <p><strong>Activity:</strong></p>
        <p><i>Activities available at selected location.</i></p>

        <p><strong>Description:</strong></p>
        <p><i>Camping</i><br><i>Hiking</i><br><i>Fishing</i><br><i>Boat Rentals</i></p>

        <p><strong>Hours:</strong></p>
        <p><i>Staffed operating hours.</i></p>

        <p><strong>Fees:</strong></p>
        <p><i> Fees with selected activities and services.</i></p>

        <p><strong>Restrictions:</strong></p>
        <p><i>Length of stay, size of water crafts, etc.</i></p>
    </div>

 <!-- The Search Bar using a from with a the post method so it can be passed into Python-->
    <div id="searchBar">
        <form > 
            <!-- search text felid and search button-->
            <input type="text" id="search" name="search" value="{{search_input['query']}}">
            <input type="submit" value="Search">

            <!-- The dropdown for the search type that is populated using the list from python -->
            <select id="search_type" name="search_type">
                {{ list_option(value='', name='Search Type', selected=search_input['search_type']) }}
                {% for type in search_types%}
                    {{ list_option(value=type['id'], name=type['display'], selected=search_input['search_type']) }}
                {% endfor %}
            </select>

            <!-- The dropdown for the filter type that is populated using the list from python -->
            <select id="filter_type" name="filter_type" >
                {{ list_option(value='', name='Filter By', selected=search_input['search_filter']) }}
                {% for type in search_filters%}
                    {{ list_option(value=type['id'], name=type['display'], selected=search_input['search_filter']) }}
                {% endfor %}
            </select>
        </form>
    </div>

    <!-- The area for the interactive map -->
    <div id="mapArea">
        <div id="map"></div>
        <script>
            // Configure and setup map
            var map = L.map('map').setView([39, -105.5], 8);
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map)

            // Add a dummy point (marker)
            var dummyMarker = L.marker([39.7392, -104.9903]).addTo(map);
            dummyMarker.bindPopup("<b>Central USA</b><br>Denver, CO").openPopup();
        </script>
    </div>
{% endblock %}
