{% extends "base.html" %}
{%block body%}
    <div>
        <div>
            <button>&larr;</button>
            <button>&crarr;</button>
            <input type="text" placeholder="Enter URL or search here..." />
        </div>
    </div>

    <div>
        <input type="text" placeholder="Search..." />
        <button>Search</button>
        <select>
            <option>Search Type</option>
        </select>
        <select>
            <option>Filter By</option>
        </select>
    </div>

    <div> 
        <p><strong>Name:</strong></p> 
        <p>_______________________</p>

        <p><strong>Activity:</strong></p>
        <p>_______________________</p>

        <p><strong>Description:</strong></p>
        <p>_______________________<br>_______________________<br>_______________________</p>

        <p><strong>Hours:</strong></p>
        <p>_______________________</p>

        <p><strong>Fees:</strong></p>
        <p>_______________________</p>

        <p><strong>Restrictions:</strong></p>
        <p>_______________________</p>
    </div>

    <div>
        <div id="map"></div>
        <script>
            var map = L.map('map').setView([39, -105.5], 8);
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map)
        </script>
    </div>
{% endblock %}
