/* General reset */
* {
  margin: .4;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: "Times New Roman", times serif;
  background-color: #faf5ed;
  color: black;
  line-height: 1.1;
  padding: 8px;
  text-align: left
}

#map { 
    position: absolute;
    top: 1;
    bottom: 1;
    width: 73.2%;
    height: 90vh;
}

#mapArea{
  float:right;
  width: 75%;
  height: 98%
}

#description{
  height: 98vh;
  /* overflow-y: scroll; */
  float:left;
  background-color: #faf5ed;
  padding: 5px;
  width: 25%
}

  #searchBar{
  background-color: #faf5ed;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: 1px #ccc;
  box-sizing: border-box;
} 
