/* General reset */
* {
  margin: .5;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Arial, sans-serif;
  background-color: #ecf2fa;
  color: black;
  line-height: 1.5;
  padding: 8px;
  text-align: left
}

#map { 
    position: absolute;
    top: 1;
    bottom: 1;
    width: 75%;
    height: 94vh;
}

#mapArea{
  float:right;
  width: 76%;
  height: 98%
}

#description{
  height: 98vh;
  overflow-y: scroll;
  float:left;
  background-color: #faf5ed;
  padding: 10px;
  width: 24%
}

#searchBar{
  background-color: #faf5ed;
  width: 100%;
  padding: 10px;
}