/* General reset */
* {
  margin: .5;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Arial, sans-serif;
  background-color: #ecf2fa;
  color: black;
  line-height: 1.5;
  padding: 8px 0;
  text-align: left;
}

#map { 
    position: absolute;
    top: 1;
    bottom: 1;
    width: 75%;
    height: 97%;
}

#mapArea{
  float:right;
  width:70%
}

#description{
  float:left;
  background-color: #faf5ed;
}

#searchBar{
  background-color: #faf5ed;
}